﻿@model SolutionsOne.OCR.Web.Models.ProcessViewModel
@using System.Web.UI.WebControls
@using Microsoft.Ajax.Utilities
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <div>
            <div class="jumbotron">
                <p>@Html.TextBoxFor(m => m.File, new { size = 500, type = "file", @style = "max-width: 100%;" })</p>
                <p>
                    <input type="submit" value="Processar" class="btn btn-primary btn-lg" />
                </p>
            </div>
            @if (Model?.Cpf != null)
            {
                <div>
                    <h2>Cadastro de Pessoas Físicas</h2>
                    <p> Número de Inscrição: @Model.Cpf.RegisterNumber </p>
                    <p> Nome: @Model.Cpf.Name </p>
                    <p> Nascimento: @Model.Cpf.Birthdate </p>
                </div>
            }
        </div>
    </div>
}
